/node_modules
./config
./config.py
config.py
config.py
local_models/*
/__pycache__
**/__pycache__
/audio_captures/*
input_systems/__pycache__/input_handlers.cpython-312.pyc
azure_speech.log
*.egg-info/